#sticky_pad {
  background-color: #F2FFB8;
  height: 300px;
  width: 300px;
  border: 1px solid #E5F04C;
  display: none;
  z-index: 999999;
}

#sticky_pad_navbar {
  float: right;
  margin-right: 10px;
}

#sticky_pad_textarea {
  font-family: Arial;
  font-size: 14px;
  width: 250px;
  height: 190px;
  margin-left: 10px;
  margin-top: 10px;
  border: none;
  background-color: #F2FFB8;
}

#sticky_pad h1 {
  font-family: Arial;
  font-size: 30px;
  text-align: center;
}


